---
import "../styles/global.css";
import Navbar from '../components/Navbar';
import LangChanger from "../components/LangChanger.astro";
import { evalDownloadCVLang } from "../logic/evalLang";

const inProjectPage:boolean = Astro.url.href.includes("project");
const {lang} = Astro.params;
const {downloadText,downloadLink} = evalDownloadCVLang(lang!);
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Moirai+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=REM:wght@600&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo+Play:wght@700;800;900&family=Lobster&family=Outfit:wght@500&family=Poppins:wght@400;500;800&family=Righteous&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Thiago Quaglia</title>
  </head>
  <body>
    <div class="lang-down">
      <LangChanger inProjectPage={inProjectPage}/>
      <a class="down-cv" href={downloadLink} target="_blank">{downloadText}</a>
    </div>
    <Navbar inProjectPage={inProjectPage} lang={lang!} client:load/>
    <slot />
  </body>
</html>
