---
import Layout from "../../../layout/layout.astro";
import "../../../styles/project.css";
import type {Project} from "../../../data/projectSchema";
import es from "../../../data/es/projects.json";
import en from "../../../data/en/projects.json";
import NSProject from "../../../components/nonStartedProject.astro";

export function getStaticPaths(){
  return [
    {params: {lang: 'en',id:9}},
    {params: {lang: 'es',id:9}}
  ];
}

function evalLang(){
  if(lang == 'es')
    return {
      description:"Descripción",
      techUsed:"Tecnologías utilizadas",
      langUsed:"Lenguajes utilizados",
      dbUsed: "Bases de datsos",
      stillDev:"Este proyecto continúa bajo desarrollo."
    }
  else 
    return {
      description:"Description",
      techUsed:"Techs used",
      langUsed:"Languages used",
      dbUsed: "Databases",
      stillDev:"This project is still in development."
    }
}

const { lang,id } = Astro.params;
const projectsLang:Project[] = lang == 'es' ? es : en;
const project:Project = projectsLang.find(pr => pr.projectId == parseInt(id!))!;
const started:boolean = project?.githubLink !== "";
const {description,techUsed,langUsed,dbUsed,stillDev} = evalLang();
---
<Layout>
  <div class="circle-in-animation-shorter main">
    {started 
      ? <>
        <h1 class="project-name">{project?.projectName}</h1>
        <div class="links">
          <a href={project?.githubLink} target="_blank">GitHub</a>
          {project?.demo && 
            <a href={project?.demo} target="_blank">demo</a>
          }
          {project?.snapshot && 
            <a href={project?.snapshot} target="_blank">snapshot</a>
          }
        </div>
          {project?.developing && 
            <p class="flicker">{stillDev}</p>
          }
        <div class="project-description">
          <h2>{description}</h2>
          <p set:html={project?.description!}/>
        </div>
        <div class='used-things'>
          {project?.techUsed && (
            <div class="section">
              <h2>{techUsed}</h2>
              <ul>
                {project.techUsed.map((tech: string) => (
                  <li>
                    <h4>{tech}</h4>
                  </li>
                ))}
              </ul>
            </div>
          )}
          <div class="section">
          <h2>{langUsed}</h2>
            <ul>
              {project?.langUsed.map((lang: string) => (
                <li>
                  <h4>{lang}</h4>
                </li>
              ))}
            </ul>
          </div>
          {project?.databaseUsed && (
            <div class="section">
              <h2>{dbUsed}</h2>
              <ul>
                <li>
                  <h4>{project.databaseUsed}</h4>
                </li>
              </ul>
            </div>
          )}
        </div>
      </>
      : <NSProject projectName={project?.projectName}/>
    }
  </div>
</Layout>