---
import Layout from "../../layout/layout.astro";
import Projects from "../../components/react/Projects";
import ExperienceTimeline from "../../components/ExperienceTimeline.astro";
import type {LangContent} from "../../types/pageInfoType";
import "../../styles/home.css";
import es from "../../locales/es/page.json"
import en from "../../locales/en/page.json"
import SkillsGallery from "../../components/SkillsGallery.astro";
import Contact from "../../components/Contact.astro";

export function getStaticPaths(){
  return [
    {params: {lang: 'en'}},
    {params: {lang: 'es'}}
  ];
}

const { lang } = Astro.params;
const langData:LangContent = lang == 'es' ? es : en;
---
<Layout>
  <div class="start circle-in-animation">
    <div>
      <div class="whoami">
        <h1 class="name">Thiago Quaglia</h1>
        <h2 class="profession">Backend Developer</h2>
      </div>
    </div>
  </div>

  <div class="sections">
    <!-- About me -->
    <div id="about" set:html={langData.about}/>
    <!-- Experience -->
    <div id="experience">
      <h1 class="section_header">{langData.experience.title}</h1>
      <ExperienceTimeline experience={langData.experience.content}/>
    </div>
    <!-- Personal info -->
    <div class="personal" id="personal">
      <div class="block-info-larger">
        <h2>{langData.academies.title}</h2>
        <ul>
          <li>
            <h3 class="item">{langData.academies.content.secondary.title}</h3>
            <div class="description" 
            set:html={langData.academies.content.secondary.content}/>
          </li>
          <li>
            <h3 class="item">{langData.academies.content.tertirary.title}</h3>
            <div class="description" 
            set:html={langData.academies.content.tertirary.content}/>
            <a
              href="https://drive.google.com/file/d/1GUZ-iSIf0y8K0hwPeVKw9j-PjRulS03e/view?usp=sharing"
              target="_blank"
            >
              {langData.academies.content.tertirary.academic_history}
            </a>
          </li>
        </ul>
      </div>
      <div class="block-info">
        <h2>{langData.languages.title}</h2>
        <div class="description">
          <ul>
            <li>
              <h3 class="item">{langData.languages.content.spanish.title}</h3>
              <div>
                <b>{langData.languages.content.spanish.content}</b>
              </div>
            </li>
            <li>
              <h3 class="item">{langData.languages.content.english.title}</h3>
              <div>
                <b>{langData.languages.content.english.content}</b>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- Skills -->
      <div id="skills">
        <h1 class="section_header">{langData.skills.title}</h1>
        <SkillsGallery/>
      </div>
    </div>

    <!-- Projects brief -->
    <Projects client:load lang={lang!} />

    <!-- Contact -->
    <Contact/>
</Layout>
